$color-background: #f7f7f7;
$color-primary: #ef611b;

$color-font: #21262a;
$color-light: #fff;
$color-dark: #000;
$color-lightdark: #405565;
$color-success-dark: #52a06a;
$color-danger-dark: #a05252;
$color-form-border: #eaeaea;

$color-navbar-bg: transparentize($color-dark, .2);