$font-base: 16px;
$font-roboto: "Roboto", sans-serif;
$font-josefin: "Josefin Sans", sans-serif;

$font-featured-title: 96px;

$font-size-s:  0.875rem; //14px
$font-size-default: 1rem;
$font-size-m: 1.125rem; //18px;

$font-letter-spacing: 2px;