.title-accent {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    height: 1px;
    background: $color-primary;
    display: block;
    left: 50%;
    bottom: -5px;
    width: 30px;
    margin-left: -15px;
  }
}
.title-container {
  margin-bottom: $margin-xl;
}